<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"
    />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Show User</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">User Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.id}">User Id</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.firstName}">First Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.lastName}">Last Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.email}">Email</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Phone Number:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.phoneNumber}">Phone Number</p>
                    </div>
                </div>
                <h2>Billing Address</h2>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Address Line 1:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.billingAddress.addressLine1}">Address 1</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Address Line 2:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.billingAddress.addressLine2}">Address 2</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">City:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.billingAddress.city}">City</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">State:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.billingAddress.state}">State</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Zip Code:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.customer.billingAddress.zipCode}">Zip Code</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>