<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Core Online Tutorial</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"
    />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
        th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
    <div class="container">
        <h1>Hello World</h1>
        <h2>This is my Thymeleaf index page.</h2>

        <ul>
            <li><a href="product/list">Products</a></li>

            <li><a href="customer/list">Customers</a></li>

            <li><a href="user/list">Users</a></li>
        </ul>


    </div>
</body>
</html>